.my_banner {
  &-service_provider {
    background-size: cover;
    min-height: 185px;
    border-radius: 5px;
  }
}
.banner-container {
  width: 100%;
}
.banner-img {
  height: 40vh;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.banner-subtitle {
  font-size: 20px;
}
