.my_banner {
  &-service_provider {
    background-size: cover;
    min-height: 185px;
    border-radius: 5px;
  }
}
.banner-container {
  width: 100%;
}
.banner-img {
  img {
    max-height: 40vh;
    width: 100%;
    object-fit: cover;
  }
}
.banner-title {
  margin-bottom: 32px !important;
}
.banner-subtitle {
  font-size: 20px;
}
