.carousel-shop {
  height: 200px;
  width: 100%;
}
.carousel {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100%;
  align-items: center;
  overflow: hidden;
  .button {
    z-index: 10;
    border-radius: 50%;
  }
}
.slider-carousel-products {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.carousel-product {
  margin: 20px;

  img {
    min-width: 150px;
    height: 150px;
    overflow: hidden;
  }
}
//comentario
