$transitionValue: ease-in-out 0.2s;
$borderRadius: 15px;

.category-grid-mobile {
  display: none;
}
@media only screen and (max-width: 700px) {
  .category-grid-desktop {
    display: none;
  }
  .category-grid-mobile {
    display: block;
    border-radius: 25px !important;
  }
  .category-grid-card {
    width: 100% !important;
    height: 50px !important;
    img {
      width: 30px !important;
      height: 30px !important;
      object-fit: scale-down;
      margin-right: 15px !important;
    }
    p {
      margin: auto 0 !important;
    }
    .is-flex-direction-column {
      flex-direction: row !important;
      align-items: center;
    }
  }
}
.grid {
  &_card {
    width: 100%;
    text-align: center;
  }

  &_card:last-child {
    flex: 1;
  }

  &_img {
    height: 18vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: $transitionValue;
    display: flex;
    flex-direction: column;

    &:hover {
      transition: $transitionValue;
      opacity: 0.5;
    }
  }

  &_item_name {
    margin-top: auto;
    font-size: 1rem;
    color: $white;
    background: linear-gradient(to top, rgba($black, 0.664), rgba($black, 0));
    padding: 0.5rem;
  }

  &_img_container {
    opacity: 1;
    border-radius: $borderRadius;
    border: none;
    transition: $transitionValue;
    &:hover {
      transition: $transitionValue;
      background-color: $grey-darker;
    }
  }

  &_container {
    padding: 2vh 0 2vh 0;
  }
}

@media (max-width: $tablet) {
  .grid {
    &_img {
      height: 22vh;
    }
    &_category_name {
      top: 75%;
    }
  }
}

@media (max-width: $widescreen) {
  .grid {
    &_img {
      height: 20vh;
    }
    &_grid {
      margin: 0 3vw 0 3vw;
    }
  }
}
