.color-inherit {
  color: inherit;
}
@for $i from 1 through 10 {
  .w-#{$i}per {
    width: $i * 10%;
  }
}
.w-50pp {
  width: 50%;
}
.fw-700 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.low-shadow {
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.15));
  border-radius: 10px;
  &:hover {
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.301));
  }
}
