.color-inherit {
  color: inherit;
}
@for $i from 1 through 10 {
  .w-#{$i}per {
    width: $i * 10%;
  }
}
.w-50pp {
  width: 50%;
}
.fw-700 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.low-shadow {
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.15));
  transition: 300ms ease-in-out all;
  &:hover {
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.301));
  }
}
.low-border {
  border: 1px solid #f48a082d;
}
.w-180px {
  width: 180px;
}
.w-220px {
  width: 220px;
}
.w-100per {
  width: 100%;
}
.h-180px {
  height: 180px;
}
.h-70per {
  height: 70%;
}
.h-30per {
  height: 30%;
}
body,
#__next {
  background: rgb(243, 241, 238);
  min-height: 100vh;
}
.border-radius-15px {
  border-radius: 15px;
}
.color-primary {
  color: $primary !important;
}
.color-secondary {
  color: $secondary !important;
}
.bg-primary {
  background-color: $primary !important;
}
.bg-secondary {
  background-color: $secondary !important;
}
.grid-3col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.RSPBprogressBar {
  height: 4px !important;
}
