.navbar {
  &_search_input {
    margin: auto;
    width: 100%;
    border-radius: 20px;
    background-color: $grey-lightest;
  }
  &_cart_responsive {
    display: none;
  }
  &_logo {
    margin: 0 0.5vw;
  }
  &-burger {
    margin: 0 0.5vw;
  }
  &-brand {
    flex-grow: 50;
  }
  &_user {
    text-transform: uppercase;
  }
  &_user_icon {
    margin: auto 0 auto 5px;
  }
  &_layout {
    display: flex;
    flex-direction: row;
    width: $widescreen;
    margin: 0 auto;
  }
}

@media (max-width: $tablet) {
  .navbar {
    &_search_input {
      width: 100%;
    }
    &_logo {
      display: none !important;
    }
    &_cart_responsive {
      display: block;
      margin: auto;
    }
    &_cart {
      display: none;
    }
    &_layout {
      width: 100%;
      flex-direction: column;
    }
  }
}

@media (max-width: $widescreen) {
  .navbar {
    &_search_input {
      max-width: 85vw;
    }
  }
}
