.prestadores-container {
  height: 100%;
  padding-top: 10px;
  background-color: rgb(245, 245, 245);
}
.prestador-card {
  background-color: white;
  height: auto;
  width: 40%;
  min-width: 300px;
  flex-wrap: wrap;
  border: 4px solid #ffd233;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 200ms;
  &:hover {
    opacity: 0.7;
  }
}
.prestador-image {
  border: #eca98a 2px solid;
  min-width: 100px;
  min-height: 100px;
  max-width: 101px;
  max-height: 101px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}
.prestador-header {
  display: flex;
  word-break: break-word;
  h1 {
    margin-bottom: 5px !important;
  }
  p {
    margin-bottom: 5px !important;
  }
}
.prestador-rating {
  padding-left: 20px;
  img {
    width: 35px;
    height: 35px;
    border: none;
  }
  span {
    display: flex;
    h1 {
      margin: 0 0 0 5px !important;
      padding: 0;
    }
  }
}
footer {
  display: flex;
  justify-content: space-between;
  .perfil-link {
    align-self: flex-end;
  }
  p {
    margin-bottom: 5px !important;
  }
}
