.shop {
  display: flex;
}
.filter {
  width: 20%;
  ul {
    list-style: none;
  }
}
.products {
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
}
.product_card {
  text-align: center;
  min-width: 100px;
  margin: 10px 0;
  padding-top: 10px;
  transition: 5ms;
  img {
    width: 200px;
    height: auto;
    overflow: hidden;
  }
  border: rgba(0, 0, 0, 0.116) solid 1px;
}
