.my_table {
  &-light_titles {
    tbody {
      tr {
        th,
        td {
          color: $grey;
        }
      }
    }
  }
  &-no_borders {
    tbody {
      tr {
        th,
        td {
          border: none;
        }
      }
    }
  }
  &-right {
    tbody {
      tr {
        td {
          text-align: right;
        }
      }
    }
  }
}
.table {
  th {
    width: 100px !important;
  }
  td {
    vertical-align: bottom !important;
  }
}
